{% layout settings.customer_layout %}

<div class="grid" ng-controller="accountRegisterController">
    <div class="grid-item large--four-sixths push--large--one-sixth">
        <h1>{{ 'customer.register.title' | t }}</h1>

        <div>By creating an account with our store, you will be able to move trough the checkout process faster, store multiple addresses, view and track your orders in your account, and more.</div>
        <p></p>
        <div class="note form-error" ng-if="errors" ng-cloak>
            <p>{{ 'general.forms.post_error' | t }}</p>
            <ul class="disc">
                <li ng-repeat="error in errors" ng-bind-html="error.description"></li>
            </ul>
        </div>

        <div class="grid vc-form">
            <div class="grid-item large--four-fifths">
                <div ng-init="init('{{ shop.id }}')">
                    <div ng-show="!complete">
                        <vc-member-detail member="newMember" member-component="memberComponent" fields-config="registerMemberFieldsConfig"></vc-member-detail>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="grid-item large--four-sixths push--large--one-twelfth">
        <div class="grid">
            <div class="grid-item large--three-sixths">
                <p></p>
                <a href="{{ shop.url }}">{{ 'customer.register.cancel' | t }}</a>
            </div>
            <div class="grid-item large--three-sixths text-right">
                <button ng-click="register()" ng-disabled="loader.isLoading" class="vc-btn" ng-class="{ 'btn--disabled': memberForm.$pristine, 'loading': loader.isLoading }">
                    <span class="btn-text">{{ 'customer.register.submit' | t }}</span>
                    <span class="btn-loading"></span>
                </button>
            </div>
            <!--<div ng-show="complete">
                <h5>{{ 'customer.register.registration_success_text' | t }}</h5>
                <br />
                <p>{{ 'customer.register.goto_text' | t }} <a href="account/login">{{ 'customer.register.login_page_text' | t }}</a></p>
            </div>-->
        </div>
    </div>
</div>
