<div class="head-top">
	<div class="wrapper">
        {% if wholesaler %}
        <img class="head-top-logo" src="{{ wholesaler.logo }}"/>
        <div class="head-top-info">
            <strong>{{ wholesaler.name}} - {{ wholesaler.description}}</strong><br/>
            <span><strong>Phone: </strong>{{ wholesaler.phone }}</span>
            <span><strong>Email: </strong><a href="{{ 'mailto:' + wholesaler.email }}">{{ wholesaler.email }}</a></span>
        </div>
        {% else %}
        <a href="{{ '/account#/wholesalers' | absolute_url }} " itemprop="url">Select wholesaler </a>       
        {% endif %}
    </div>
</div>

